.bannerImage
{
    width:85%;
    margin-top: 5rem;
    margin-bottom: -12rem;
}
.poppins
{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    
}
// .strategic{
//     font-size:4rem;
//     line-height: 4rem;
//     padding-top: 12rem;

// }
.letUS
{
    font-size: 1.25rem;
    
}