.bgBlack {
    background-color: black;
    padding: 72px;
  }
  
  .title {
    color: white;
    font-size: 2.125rem; 
    font-weight: bold;
    color: #ffb800;
  }
  
  .technologiesContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  .technologyCard {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    margin: 0 10px;
    height: 350px;
    transition: background-color 0.3s ease;
  }
  
  .technologyIcon {
    max-width: 100%;
    height: auto;
  }
  
  .technologyName {
    color: white;
    margin-top: 100%;
    font-size: 1rem;
    text-align: left;
  }
  
  .footer{
    color: white;
    padding: 5%;
  }
  .footer2 {
    color: white;
    padding: 5% 20% 0 20%; 
    font-size: large;
  }
//   .processContainer {
//     margin-top: 40px;
//     color: white;
//   }
  
//   .processStep {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     margin-bottom: 20px;
//   }
  
//   .stepNumber {
//     font-size: 1.5em;
//     margin-bottom: 10px;
//     color: #ffb800;
//   }
  
//   .stepTitle {
//     font-size: 1.2em;
//     margin-bottom: 5px;
//   }
  
//   .stepDescription {
//     font-size: 1em;
//   }


  .processContainer {
    margin-top: 40px;
    color: white;
    padding: 5% 0% 5% 12%;
    
  }
  
  .processStep {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
    
  }
  
  .stepNumber {
    
    font-size: 1.5em;
    margin-right: 7%;
    color: #ffb800;
  }
  
  .stepContent {
    display: flex;
    flex-direction: column;
  }
  
  .stepTitle {
    flex: 1;
    font-size: 1.7em;
    margin-bottom: 5px;
    margin-right: 4%;
    text-align: left;
   
  }
  
  .stepDescription {
    flex: 4;
    font-size: 0.9em;
    text-align: start;
    padding-right: 20%;
    padding-left: 1%;
   
  
  }
  
.dottedLine {
    border-bottom: 1px dotted #fff;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 85%;
  }