.landing-page {
    height: 680px;
    background-color: white;
    color: black;
    
  }
  
  .heading {
    font-size: 50px;
    font-weight: 600;
  }
  
  .description {
    font-size: 15px;
    font-weight: 400;
    padding-left: 25%;
    padding-right: 25%;
  }
  .footer{
    font-size: 11px;
    font-weight: 400;
   padding-top: 3%;
  }

  .image-container {
    transform: translate(20%, -20%);
    z-index: -1;
    width: 70%; 
    height: auto; 
  
  }
  .line {
    width: 40%;  
    height: 3px;  
    background-color: black;
    margin: 2.5em auto 
  }